.wishlist-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.wishlist-item-gird {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px;
    justify-content: center;
}

.wishlist-grid-item {
    height: 425px;
    width: 250px;
    background: black; 
    display: flex;
    flex-direction: column;
    border: solid 2px gray;
    color: white;
}

.wishlist-grid-item:hover {
    border: solid 2px white;
}

.wishlist-grid-item img {
    height: 225px;
    width: 100%;
}