.product-view-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
}

.product-view {
    width: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    color: white;
    margin-top: 20px;
    border-radius: 12px;
    padding: 20px;
}

.product-view img {
    width: 450px;
    height: auto;
    margin: 0 auto;
    display: block;
}

.button-container2 {
    display: flex;
    flex-direction: row;
    gap: 10px; ;
}

.button-container2 button {
    border-radius: 8px;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  /* font-size: 1em; */
  /* font-weight: 500; */
  /* font-family: inherit; */
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 10px;
}

